---
title: Lamuka Hub Tovuti
---

<h1>
 Lamuka Hub
</h1>

<%= partial(:image, :locals => {
  :src => '/lamuka-hub-tovuti/images/316px-Ocean_Gateway,_Kikambala.jpg',
  :caption => 'Ocean Gateway, Kikambala, Kilifi Kenya. <a href="https://commons.wikimedia.org/wiki/File:Ocean_Gateway,_Kikambala.jpg">The Wandering Angel</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>',
  :width => '200px',
})%>

<p>
An innovation hub that seeks to:
<ul>
  <li>Empower youth on digital skills</li>
  <li>Empower teachers to transit into 21st Century teachers</li>
  <li>Create a knowledge based economy in rural Kenya</li>
</ul>
</p>

<%= partial(:image, :locals => {
  :src => '/lamuka-hub-tovuti/images/240px-A_fisherman_using_a_boat_in_Kilifi,_Kenya.jpg',
  :caption => 'A fisherman using a boat in Kilifi, Kenya. <a href="https://commons.wikimedia.org/wiki/File:A_fisherman_using_a_boat_in_Kilifi,_Kenya.jpg">Ms.Nanka</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>',
  :width => '200px',
})%>

<h2>Support us by buying our branded products</h2>


<%= partial(:image, :locals => { 
  :src => '/lamuka-hub-tovuti/images/Lamuka-Hub-kikombe-nyeupe.png',
  :title => 'White Mug',
  :price => '600/=',
  :alt => 'Picture of White Mug.',
  :width => '200px',
  :caption => 'White Lamuka Hub Mug',
})%>
<input type="number" id="whitemug" onclick="changequantity('whitemug')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/lamuka-hub-tovuti/images/Lamuka-Hub-sharti-nyeupe.png',
  :title => 'White T-shirt',
  :price => '1200/=',
  :alt => 'Picture of White T-shirt.',
  :width => '200px',
  :caption => 'White Lamuka Hub T-shirt',
})%>
<input type="number" id="whitetshirt" onclick="changequantity('whitetshirt')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/lamuka-hub-tovuti/images/Lamuka-Hub-sharti-nyekundu.png',
  :title => 'Black T-shirt',
  :price => '1200/=',
  :alt => 'Picture of Black T-shirt.',
  :width => '200px',
  :caption => 'Black Lamuka Hub T-shirt',
})%>
<input type="number" id="blacktshirt" onclick="changequantity('blacktshirt')" value="0" min="0" max="20" step="1">



        <h1>Delivery Location Selection</h1>
<div id="map-container" >
              <div id="mapid"></div>
        </div>
        <h1>Payment</h1>
               <form id="buy">
 <ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
  </li>
  <li>
          <label for="telephone">Telephone:</label>
          <input type="tel" id="telephone" name="user_telephone">
  </li>
  <li>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_email">
  </li>
  <li>
    <label for="address">Delivery Address:</label>
    <textarea id="address" name="user_address"></textarea>
  </li>
  <li>
    <label for="msg">Additional information:</label>
    <textarea id="msg" name="user_message"></textarea>
  </li>
 </ul>
 <li class="button">
  <button type="button" id="pay" onClick="payWithRave()">Pay</button>
</li>
</form>

